# Python environment
venv/
.venv/
env/

# Caches
.cache/
__pycache__/

# Large data and logs
dataset_rft_json/
wandb/
*.jsonl
*.log
dataset_sft/
final_qwen_model/

qwen_sft_results/ 
datasets_sft/qwen_sft_results/
*.safetensors
*.pt
*.pth
*.bin
checkpoint-*/